html {
    overflow: hidden;
}

.mdl-layout {
    height: unset;
}

.chat-image {
    width: 200px;
    height: 200px;
}

#inputEmail {
    border: unset;
    height: 30px;
    width: 200px;
    margin-top: 15px;
}

#inputPassword {
    border: unset;
    height: 30px;
    width: 200px;
    margin-top: 15px;
}

#inputUsername {
    border: unset;
    height: 30px;
    width: 200px;
    margin-top: 15px;
}

#inputPassword1 {
    border: unset;
    height: 30px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#inputPassword2 {
    border: unset;
    height: 30px;
    width: 200px;
    margin-top: 15px;
}

.form-control-pw2 {
    margin-top: 10px;
}

.profile-image {
    width: 180px;
    height: 180px;
}

.login-button {
    background-color: #3f7291;
    border: unset;
    background-color: #3f7291;
    border: unset;
    height: 30px;
    width: 83px;
    border-radius: 5px;
    cursor: pointer;
}

.form-signin {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.mdl-layout__content {
    position: absolute !important;
    width: 90% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mdl-layout__header {
    background-color: #3f7291 !important;
}

@media (max-width: 1024px) {
    .mdl-layout__header {
        display: block;
    }
    .mdl-layout__header-row {
        display: flex !important;
        justify-content: center !important;
        padding: unset !important;
    }
}

.mdl-button--raised.mdl-button--colored {
    background-color: #3f7291 !important;
}

.mdl-layout-title {
    margin-left: -50px;
    margin-top: 20px;
}

@media (max-width: 750px) {
    .mdl-layout-title {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .user-container {
        display: none !important;
    }
    .mdl-layout-title {
        margin-top: unset !important;
    }
    .mdl-layout__header {
        /* display: none; */
        font-size: 15px;
    }
    .img-fluid {
        width: 50px;
        height: 50px;
    }
    .user-picture {
        width: 35px !important;
        height: 35px !important;
        padding-right: unset !important;
    }
    .chat-content {
        height: 100vh !important;
    }
    .text-content {
        margin-left: unset !important;
    }
    .page-content {
        width: 100vw !important;
        /* align-items: center !important; */
    }
}

.chat-content {
    height: 94vh;
    display: flex;
    flex-direction: row;
}

.sent-container {
    text-align: center;
}

.page-content {
    width: 85vw;
    padding-top: 20px;
    background-color: #c5d3db;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: normal;
}

.user-container {
    width: 15%;
    height: 99vh;
    margin-top: -64px;
    background-color: #3f7291;
}

.user-container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.user-container-2 {
    margin-top: 500px;
}

.user-picture {
    height: 45px;
    width: 45px;
    padding-right: 15px;
    border-radius: 100%;
    border-width: 5px;
}

.user-picture-profile {
    height: 45px;
    width: 45px;
    padding-right: 15px;
    border-radius: 100%;
    border-width: 5px;
}

.user-picture:hover {
    cursor: pointer;
}

.profil-name {
    margin-bottom: -20px;
    display: flex;
    flex-direction: row;
}

.profile-buttons {
    margin-top: 20px;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.button-back {
    margin-top: 20px;
}

.text-content {
    width: 80%;
    height: 80vh;
    margin-left: 20px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #e6f0f5;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: spaces-between;
    align-items: center;
    align-content: normal;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

.mdl-navigation__link {
    margin-right: 50px;
    position: relative;
    top: 8px;
}

.mdl-navigation__link-login {
    position: relative;
    top: 8px;
    text-decoration: unset;
    color: black;
}

.mdl-dialog {
    background-color: #3f7291 !important;
}

.mdl-dialog__actions {
    height: unset !important;
    border: none !important;
    display: flex !important;
    flex-direction: row !important;
}

.mdl-dialog__title {
    font-size: 1.5rem !important;
}

.mdl-dialog__content {
    padding: 20px 0px 15px !important;
}

.nav-item {
    color: black !important;
    border: none !important;
    margin-left: 40px !important;
}

.dialog-title-image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.main-space {
    display: flex;
    flex-direction: row;
}

.created_at {
    font-size: 10px;
}

.own-message-bubble {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    background-color: #3f7291;
    border-radius: 10px;
    color: white;
    position: relative;
    right: 200px;
}

.other-message-bubble {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    background-color: #3f7291;
    border-radius: 10px;
    color: white;
    position: relative;
    left: 250px;
}

@media (max-width: 1200px) {
    .own-message-bubble {
        right: 100px;
    }
    .other-message-bubble {
        left: 150px;
    }
}

@media (max-width: 900px) {
    .own-message-bubble {
        right: 50px;
    }
    .other-message-bubble {
        left: 75px;
    }
}

@media (max-width: 600px) {
    .own-message-bubble {
        right: 20px;
    }
    .other-message-bubble {
        left: 20px;
    }
    .text-content {
        width: 100%;
        height: 75vh;
    }
}

.user-list {
    color: white;
    /* margin-left: -30px; */
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.user-picture-chat {
    height: 45px;
    width: 45px;
    padding-right: 10px;
    border-radius: 100%;
}

.user-picture-list {
    height: 45px;
    width: 45px;
    margin-left: 40px;
    padding-right: 10px;
    border-radius: 100%;
}

@media (max-width: 900px) {
    .user-picture-list {
        width: 35px;
        height: 35px;
    }
    .user-list {
        font-size: 12px;
        padding-left: unset !important;
    }
}

@media (max-width: 700px) {
    .user-picture-list {
        width: 25px;
        height: 25px;
    }
    .user-list {
        font-size: 10px;
    }
}

.card-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}