{% extends "home.html" %} {% load static %} {% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="content-section">
        <div class="form-row">
            <div class="col-md-5">
                <div class="media">
                    <img class="profile-image" src="{{  user.profile_image.url }}">
                    <div class="form-group">
                        <label class="small mb-1"></label> {{ profile_form.image }}
                    </div>
                </div>
            </div>
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-dark btn-lg">Save Image</button>
        <button type="reset" class="btn btn-dark btn-lg">Reset</button>
    </div>
</form>

{% endblock content %}