<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird-Chat</title>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"> {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/plaudern.png' %}">


    <!--<script src="{% static 'js/script.js' %}"></script>-->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>


</head>

<body>
    <!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--scroll header-background">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">
                    <img class="img-fluid mx-auto d-block" src="{% static 'img\plaudern.png' %}"
                        alt="codingwithmitch logo" width="65" height="65">
                    {% if request.user.is_authenticated %}
                    Herzlich Willkommen {{ request.user }}
                    {% else %}
                    Herzlich Willkommen, bitte einloggen.
                    {% endif %}

                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">

                    <!-- User Menu -->
                    {% if user.is_authenticated %}

                    <div>
                        <a href="{% url 'chat' %}">
                            <img class="user-picture" src="{% static 'img\Chat_icon.png' %}"></a>
                        <img class="user-picture" id="show-dialog" src="{{ user.profile_image.url }}">
                    </div>

                    <dialog class="mdl-dialog">
                        <div class="dialog-title-image">
                            <div class="mdl-dialog__content">
                                <img class="user-picture-profile" id="show-dialog" src="{{ user.profile_image.url }}">
                            </div>
                            <h4 class="mdl-dialog__title">{{ request.user }}</h4>

                        </div>

                        <div class="mdl-dialog__actions">
                            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </dialog>

                    <script>
                        var dialog = document.querySelector('dialog');
                        var showDialogButton = document.querySelector('#show-dialog');
                        if (!dialog.showModal) {
                            dialogPolyfill.registerDialog(dialog);
                        }
                        showDialogButton.addEventListener('click', function() {
                            dialog.showModal();
                        });
                        dialog.querySelector('.close').addEventListener('click', function() {
                            dialog.close();
                        });
                    </script>

                    {% else %}
                    <a class="mdl-navigation__link" href="{% url 'login' %}">Login</a>
                    <a class="mdl-navigation__link" href="{% url 'register' %}">Register</a> {% endif %}

                </nav>
            </div>
        </header>

        <!-- All user  -->
        <div class="main-space">
            <div class="user-container">
                <div class="user-container-2">
                    <!-- For Schleife for all users -->
                    {% for user in register_users %}
                    <div class="user-list">
                        <img class="user-picture-list" id="show-dialog" src="{{ user.profile_image.url }}"> {{ user.username }}

                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="chat-content">
                <div class="page-content">
                    <!-- <div class="text-content"> -->

                    <!-- Place for the other content  -->
                    {% block content %} {% endblock %}
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>

</body>

</html>